################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Bin
/packages
/Sample/obj
/Source/obj
/Source/.vs
